html{
    width: 100vw;
    height: auto;
    margin: 0;
}

body{

margin: 0;
padding: 0;
}

.h1-homepage{
    text-align: center;
    font-size: 48px;
}
.h2-homepage{
    font-size: 32px;
}

.ul-home{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.img-home{
    border-radius: 100%;
    width: 85%;
    
}

.img-recipe{
    width: 100%;
}


ul li a{
    display: block;
    text-decoration: none;
}